
body {
    background-image: url(images/back-grouynd.JPG);
    background-size: cover;
}

a {
  text-decoration: none;
}

.archive{
width: 15%;
font-size: 1.5vw;
color: darkolivegreen;
border: solid .1vw darkolivegreen;
margin: 5% 0% 0% 5%;
padding: 1%;
text-align: center;
}


.draggable img {
    display: block;
    line-height: 0;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }
  
  .hnamkna {
    width: 100%;
    color: black;
    font-size: 3vw;
    text-align: center;
    margin: -1.5% 0% 0% 15%;
    z-index: 10;
    position: relative;

}

.home {
  text-align: right;
  color: black;
  font-size: .8vw;
  font-style: italic;
  border: solid black .1vw;
  padding: .7%;
  float: right;
  width: 8%;
  text-align: center;
  margin-top: 5%;
  margin-right: 3%;
}

  h1 {
    font-weight: 200;
    outline: none;
  }
  
  .text {
    opacity: 70;
    border: solid yellowgreen;
    color: black;
  /*   width: 400px; */
    padding: 0 .5em;
    height: 100px;
    letter-spacing: -3px;
    line-height: 0;
    font-size: 30px;
    text-align: center;
  }
  
  .draggable {
    position: absolute;
  /*   border: 2px solid black; */
    overflow: hidden;
    box-shadow: 10px 10px 20px 0px rgb(20, 20, 26);
    transition: box-shadow ease .3s, translate ease .3s;
  }
  .draggable:hover {
    cursor: grab;
    font-style: italic;
  }
  
  .draggable.active:hover {
    box-shadow: 20px 20px 30px 0px rgba(0,0,255,.2);
    translate: -10px -10px;
    cursor: grabbing;
  }
  
  
  .remember {
    width: 30%;
  
  }


  .bonnie {
    width: 30%;
    margin-left: 10%;
  }

  .img-home {
    margin: 80% 0% 2% 25%;

  }

  .album-art{
    margin: 3% 0% 20% 25%;
    width: 100%;
   
  }
  .remember-txt {
    color: white;
    float: left;
    border: solid white;
    padding: 1%;
    width: 20%;
    text-align: center;

  }

  .bonnie-txt{
  margin-left: 8%;
    color: white;
    float: left;
    padding: 1%;
    border: solid white;
    width: 20%;
    text-align: center;
  }


